@using RState.Code


<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/img_bg_5.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Welcome to the @Variables.ShortName</h2>
                                <h2>A Real State Management</h2>
                                <p><a class="btn btn-primary btn-demo" href="#">View Detail</a> <a class="btn btn-primary btn-learn">Booking Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Welcome to the @Variables.ShortName</h2>
                                <h3>A Real State Management</h3>
                                <p><a class="btn btn-primary btn-demo" href="#">View Detail</a> <a class="btn btn-primary btn-learn">Booking Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/images/img_bg_3.jpg);"></li>
            <li style="background-image: url(/images/img_bg_4.jpg);"></li>
        </ul>

    </div>
</aside>

<div id="colorlib-rooms" class="colorlib-light-grey" style="padding: 2em 0 0 2em;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                <h2>Properties Available</h2>
                <p>We love to tell our successful far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animate-box">
                <div class="owl-carousel owl-carousel2">
                    <div class="item">
                        <a href="images/room-1.jpg" class="room image-popup-link" style="background-image: url(images/room-1.jpg);"></a>
                        <div class="desc text-center">
                            <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                            <h3><a href="rooms-suites.html">Standerd</a></h3>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="price-room">100000</span>
                                <span class="per">/</span>
                            </p>
                            <ul>
                                <li><i class="icon-check"></i> Share 10% </li>
                                <li><i class="icon-check"></i> Location N/A</li>
                                <li><i class="icon-check"></i> Only 10 share are available</li>
                                <li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                            </ul>
                            <p><a class="btn btn-primary btn-book">Book now!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <a href="images/room-2.jpg" class="room image-popup-link" style="background-image: url(images/room-2.jpg);"></a>
                        <div class="desc text-center">
                            <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                            <h3><a href="rooms-suites.html">Deluxe</a></h3>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="price-room">199000</span>
                                <span class="per">/</span>
                            </p>
                            <ul>
                                <li><i class="icon-check"></i> Share 10% </li>
                                <li><i class="icon-check"></i> Location N/A</li>
                                <li><i class="icon-check"></i> Perfect for traveling couples</li>
                                <li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                            </ul>
                            <p><a class="btn btn-primary btn-book">Book now!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <a href="images/room-3.jpg" class="room image-popup-link" style="background-image: url(images/room-3.jpg);"></a>
                        <div class="desc text-center">
                            <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                            <h3><a href="rooms-suites.html">Suite</a></h3>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="price-room">249000</span>
                                <span class="per">/</span>
                            </p>
                            <ul>
                                <li><i class="icon-check"></i> Share 10% </li>
                                <li><i class="icon-check"></i> Location N/A</li>
                                <li><i class="icon-check"></i> Babysitting facilities</li>
                                <li><i class="icon-check"></i> 1 free bed available on request</li>
                            </ul>
                            <p><a class="btn btn-primary btn-book">Book now!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <a href="images/room-4.jpg" class="room image-popup-link" style="background-image: url(images/room-4.jpg);"></a>
                        <div class="desc text-center">
                            <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                            <h3><a href="rooms-suites.html">Classic</a></h3>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="price-room">150000</span>
                                <span class="per">/ per night</span>
                            </p>
                            <ul>
                                <li><i class="icon-check"></i> Only 10 rooms are available</li>
                                <li><i class="icon-check"></i> Breakfast included</li>
                                <li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                            </ul>
                            <p><a class="btn btn-primary btn-book">Book now!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <a href="images/room-5.jpg" class="room image-popup-link" style="background-image: url(images/room-5.jpg);"></a>
                        <div class="desc text-center">
                            <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                            <h3><a href="rooms-suites.html">Superior</a></h3>
                            <p class="price">
                                <span class="currency">$</span>
                                <span class="price-room">200</span>
                                <span class="per">/ per night</span>
                            </p>
                            <ul>
                                <li><i class="icon-check"></i> Perfect for traveling couples</li>
                                <li><i class="icon-check"></i> Breakfast included</li>
                                <li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                            </ul>
                            <p><a class="btn btn-primary btn-book">Book now!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <a href="images/room-6.jpg" class="room image-popup-link" style="background-image: url(images/room-6.jpg);"></a>
                        <div class="desc text-center">
                            <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                            <h3><a href="rooms-suites.html">Superior Deluxe</a></h3>
                            <p class="price">
                                <span class="currency"><small>$</small></span>
                                <span class="price-room">299</span>
                                <span class="per">/ per night</span>
                            </p>
                            <ul>
                                <li><i class="icon-check"></i> Perfect for traveling couples</li>
                                <li><i class="icon-check"></i> Breakfast included</li>
                                <li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                            </ul>
                            <p><a class="btn btn-primary btn-book">Book now!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="colorlib-dining-blog">
    <div class="container" style="width:1480px;">
        <div class="blog-entry" style="padding:2em 2em 0 0.5em;">
            <div class="col-md-12 text-center animate-box">
                <h2>Our Satisfied Share</h2>
            </div>
            <div class="row">
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person1.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Jan 01, 2018</span>
                            <h5 style="margin-bottom:0;">Dining Trip</h5>
                            <span class="user">Brian Doe</span><br />
                            <span class="user">$100000/-</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person2.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Feb 01, 2020</span>
                            <h5 style="margin-bottom:0;">Dream Trip</h5>
                            <span class="user">Nathalie Miller</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person3.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Mar 01, 2020</span>
                            <h5 style="margin-bottom:0;">Secret Island</h5>
                            <span class="user">Shara Jones</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person1.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Jan 01, 2018</span>
                            <h5 style="margin-bottom:0;">Dining Trip</h5>
                            <span class="user">Brian Doe</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person2.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Feb 01, 2020</span>
                            <h5 style="margin-bottom:0;">Dream Trip</h5>
                            <span class="user">Nathalie Miller</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person3.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Mar 01, 2020</span>
                            <h5 style="margin-bottom:0;">Secret Island</h5>
                            <span class="user">Shara Jones</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person1.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Jan 01, 2018</span>
                            <h5 style="margin-bottom:0;">Dining Trip</h5>
                            <span class="user">Brian Doe</span><br />
                            <span class="user">$100000/-</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person2.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Feb 01, 2020</span>
                            <h5 style="margin-bottom:0;">Dream Trip</h5>
                            <span class="user">Nathalie Miller</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person3.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Mar 01, 2020</span>
                            <h5 style="margin-bottom:0;">Secret Island</h5>
                            <span class="user">Shara Jones</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person1.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Jan 01, 2018</span>
                            <h5 style="margin-bottom:0;">Dining Trip</h5>
                            <span class="user">Brian Doe</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person2.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Feb 01, 2020</span>
                            <h5 style="margin-bottom:0;">Dream Trip</h5>
                            <span class="user">Nathalie Miller</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 animate-box" style="width:15%;padding-left:0;">
                    <a href="blog.html" class="blog-post">
                        <span class="img" style="background-image: url(/images/person3.jpg);"></span>
                        <div class="desc" style="padding-left:96px;">
                            <span class="date">Mar 01, 2020</span>
                            <h5 style="margin-bottom:0;">Secret Island</h5>
                            <span class="user">Shara Jones</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
