<aside id="colorlib-hero">
    <div class="flexslider">
        <div style="height:560px; background-image: url(/images/img_bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-md-offset-4 slider-text">
                        <div class="slider-text-inner text-center">
                            <h2>Welcome to Real State Management</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>