
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="form-horizontal">
                <hr />
                <h3>Recent Blog Post</h3>
                <ul class="colorlib-footer-links">
                    <li><a href="#">Facilis ipsum reprehenderit nemo molestias</a></li>
                    <li><a href="#">Aut cum mollitia reprehenderit</a></li>
                    <li><a href="#">Eos cumque dicta adipisci architecto culpa amet</a></li>
                    <li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
                    <li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
                    <li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>