
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row row-pb-md">
        <div class="col-md-4 col-md-push-1">
            <div class="form-horizontal">
                <hr />
                <h3>Contact Information</h3>
                <ul class="colorlib-footer-links">
                    <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                    <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                    <li><a href="mailto:info@quicksoftbd.com">info@quicksoftbd.com</a></li>
                    <li><a href="http://quicksoftbd.com">quicksoftbd.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>